@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f7f7f0;
    --primary: #7a0026;
    --primary-hover: #60001e;
    --foreground: #f7f0f0;
    --secondary: #393939;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-main);
}
